<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"/>
    <link href="../node_modules/materialize-css/dist/css/icon.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="css/advice.css"/>
</head>
<body ng-app="adviceApp" ng-controller="adviceListCtrl" ng-cloak>
<div>
    <h6><p class="grey-text">意见征集&nbsp;&nbsp;&gt;&nbsp;&nbsp;征集列表</p></h6>
    <div class="col s12 " ng-if="adviceCollections.length == 0">暂无数据</div>
    <div class="col s12 " ng-repeat="x in adviceCollections">
        <div class="card horizontal blue-grey row">
            <div class="card-stacked col s8">
                <div class="card-content">
                    <div class="col s8 content">
                        <p>
                            <i class="title1">{{x.subject}}</i>
                            <a href ng-click="delete(x.igAdviceCollectionId)"><span class="grey-text">&nbsp;删除<i class="material-icons tiny">delete</i></span></a>
                        </p>
                        <p>编号：{{x.igAdviceCollectionId}}</p>
                        <p>截止日期：{{x.deadline}}</p>
                        <p>创建者：{{x.createBy}}</p>
                        <p>所属组织：{{x.orgName}}</p>
                        <p>创建时间：{{x.createTime}}</p>
                        <p>内容简介：{{x.content}}</p>
                        <p>附件：<a ng-href="{{contextPath + '/file/download?filename=' + x.attachmentUrl + '&showname=' + (x.subject + x.attachmentUrl.substring(x.attachmentUrl.indexOf('.')))}}"
                                class="file"><i>{{x.subject}}附件(点击下载)</i></a></p>
                    </div>
                    <div class="col s4 title2 right-align">
                        <span ng-if="x.dayOut > 0">
                            {{(x.dayOut % 24).toFixed(0) <= 12 ?(x.dayOut / 24).toFixed(0):(x.dayOut / 24).toFixed(0)-1}}天{{(x.dayOut % 24).toFixed(0)}}时
                        </span>
                        <span ng-if="x.dayOut <= 0">已截止</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="editBar centered">
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large black">
            <i class="material-icons">menu</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating light-green waves-effect waves-light" ng-click="showModal('#addModal')"><i class="material-icons">add</i></a>
            </li>
        </ul>
    </div>
</div>
<!-- 新增模态框 -->
<div id="addModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>添加</h4>
        <hr>
        <div class="row">
            <form class="col s12" id="insertForm">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" ng-model="insertForm.subject">
                        <label>主题</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="date" ng-model="insertForm.deadline">
                    </div>
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" maxlength="100"
                                  ng-model="insertForm.content"></textarea>
                        <label>内容概述</label>
                    </div>
                    <div class="input-field col s12">
                        <div class="file-field input-field">
                            <div class="btn ">
                                <span>选择文件(相关文档)</span>
                                <input type="file" name="file" id="uploadfile">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="upload()" class="modal-action waves-effect waves-green btn-flat blue-grey white-text">确认</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat white">取消</a>
    </div>
</div>
<!-- 删除模态框 -->
<div id="delModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>确认删除？？？</h4>
    </div>
    <div class="modal-footer">
        <a href="" class="modal-action waves-effect waves-green btn-flat blue-grey  white-text"
           ng-click="delete()">确认</a>
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat white">取消</a>
    </div>
</div>

<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="../node_modules/angular/angular.js"></script>
<script src="../app.js"></script>
<script src="js/advice.js"></script>
</body>
</html>