<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"/>
    <link href="../node_modules/materialize-css/dist/css/icon.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="css/advice.css"/>
</head>
<body ng-app="adviceApp" ng-controller="adviceHistoryListCtrl" ng-cloak>
<div>
    <h6><p class="grey-text">意见征集&nbsp;&nbsp;&gt;&nbsp;&nbsp;征集历史记录</p></h6>
    <div class="col s12 " ng-if="adviceCollections.length == 0">暂无数据</div>
    <div class="col s12 " ng-repeat="x in adviceCollections">
        <div class="card horizontal blue-grey row">
            <div class="card-stacked col s8">
                <div class="card-content">
                    <div class="col s8 content">
                        <p><i class="title1">{{x.subject}}</i></p>
                        <p>编号：{{x.igAdviceCollectionId}}</p>
                        <p>截止日期：{{x.deadline}}</p>
                        <p>创建者：{{x.createBy}}</p>
                        <p>创建时间：{{x.createTime}}</p>
                        <p>内容简介：{{x.content}}</p>
                        <p>附件：<a ng-href="{{contextPath + '/file/download?filename=' + x.attachmentUrl + '&showname=' + ('附件:' + x.subject + x.attachmentUrl.substring(x.attachmentUrl.indexOf('.')))}}"
                                 class="file"><i>{{x.subject}}附件(点击下载)</i></a>
                            征集结果：<a ng-href="{{contextPath + '/file/download?filename=' + x.advicesAttachmentUrl + '&showname=' + ('征集文件:' + x.subject + x.advicesAttachmentUrl.substring(x.advicesAttachmentUrl.indexOf('.')))}}"
                                    class="file"><i>{{x.subject}}征集文件(点击下载)</i></a>
                            处理结果：<a ng-href="{{contextPath + '/file/download?filename=' + x.resultAttachmentUrl + '&showname=' + ('征集文件:' + x.subject + x.advicesAttachmentUrl.substring(x.advicesAttachmentUrl.indexOf('.')))}}"
                                    class="file"><i>{{x.subject}}征集文件(点击下载)</i></a>
                        </p>
                    </div>
                    <div class="col s4 title2 right-align">
                        <span>已完成</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="../node_modules/angular/angular.js"></script>
<script src="../app.js"></script>
<script src="js/advice.js"></script>
</body>
</html>