<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css" />
    <link href="../node_modules/materialize-css/dist/css/icon.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/member.css" />
</head>
<body ng-app="memberApp" ng-controller="listCtrl" ng-cloak>
    <div class="content">
        <h6><p class="grey-text">成员管理&nbsp;&nbsp;&gt;&nbsp;&nbsp;成员列表</p></h6>
        <div class="col s12 ">
            <div class="card horizontal blue-grey row">
                <div class="card-stacked col s8">
                    <div class="card-content">
                        <input id="search" type="text" class="validate" ng-change="search()" ng-model="condition">
                        <label for="search"><i class="material-icons tiny">search</i>输入查询条件</label>
                    </div>
                </div>
                <div class="col s2 valign-wrapper center">
                    <img src="../img/backup.png" alt="">
                </div>
            </div>
        </div>
        <table class="border centered striped">
            <thead>
            <tr>
                <th data-field="name">姓名</th>
                <th data-field="code">用户名</th>
                <th data-field="desc">组织id</th>
                <th data-field="desc">成员id</th>
                <th>性别</th>
                <th>E-mail</th>
                <th>联系电话</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="grey-text">
                <tr ng-repeat="x in memberList">
                    <td>{{x.realname}}</td>
                    <td>{{x.username}}</td>
                    <td>{{x.igOrgId}}</td>
                    <td>{{x.igMemberId}}</td>
                    <td>{{x.gender}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.tel}}</td>
                    <td>
                        <a href class="blue-grey-text" title="删除" ng-click="showModal('#delModal', x)"><i class="material-icons small">close</i></a>
                        <a href class="green-text" title="重置密码"><i class="material-icons small" ng-click="showModal('#resetModal', x)">autorenew</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="pageCtrl">
            <ul class="pagination">
                <li class="waves-effect" ng-click="whitchPage(-1)"><a href ><i class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect" ng-click="whitchPage(1)"><a href><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
    <div class="editBar centered">
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large black">
                <i class="material-icons">menu</i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating light-green waves-effect waves-light" ng-click="showModal('#addModal')"><i class="material-icons">add</i></a>
                </li>
            </ul>
        </div>
    </div>
    <!--删除模态框-->
    <div id="delModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 >确认删除？？？</h4>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action waves-effect waves-green btn-flat blue-grey  white-text" ng-click="del()">确认</a>
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat white">取消</a>
        </div>
    </div>
    <!--重置模态框-->
    <div id="resetModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 >确认重置密码？？？</h4>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action waves-effect waves-green btn-flat blue-grey  white-text" ng-click="reset()">确认</a>
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat white">取消</a>
        </div>
    </div>
    <div id="addModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>添加</h4>
            <hr>
            <div class="row">
                <form class="col s12" id="insertForm">
                    <div class="row">
                        <div class="col s12">
                            <label>性别:</label>
                            <input class="with-gap" name="group1" type="radio" id="male" ng-model="insertForm.gender" value="M"/>
                            <label for="male">男性</label>
                            <input class="with-gap" name="group1" type="radio" id="female" ng-model="insertForm.gender" value="F"/>
                            <label for="female">女性</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input type="tel" class="validate" ng-model="insertForm.username">
                            <label >用户名(登录用)</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input  type="text" class="validate" ng-model="insertForm.realname">
                            <label >真实姓名</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input  type="tel" class="validate" ng-model="insertForm.tel">
                            <label >联系电话</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input  type="email" class="validate" ng-model="insertForm.email">
                            <label >E-mail</label>
                        </div>
                        <label>选择所属组织</label>
                        <select class="browser-default" ng-model="insertForm.igOrgId" ng-options="o.igOrgId as o.name for o in orgs">
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="insert()" class="modal-action waves-effect waves-green btn-flat light-green white-text">OKay</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat black white-text">Cancel</a>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../app.js"></script>
    <script src="js/member.js"></script>
</body>
</html>