<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"/>
    <link href="../node_modules/materialize-css/dist/css/icon.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="css/mailbox.css"/>
</head>
<body ng-app="mailboxApp" ng-cloak ng-controller="mailListCtrl">
    <h6><p class="grey-text">信箱&nbsp;&nbsp;&gt;&nbsp;&nbsp;信件列表</p></h6>
    <table class="striped">
        <thead>
        <tr>
            <th data-field="name">标题</th>
            <th data-field="id">时间</th>
            <th data-field="price">发件人</th>
            <th data-field="price">读取状态</th>
            <th data-field="price">操作</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="mail in mailList">
            <td><i ng-if="mail.isRead === 'N'" class="material-icons tiny red-text">stars</i>&nbsp;{{mail.title}}</td>
            <td>{{ mail.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{mail.createBy}}</td>
            <td>{{mail.isRead == 'Y' ? '已读':'未读'}} &nbsp;<a href ng-click="changeReadStatus(mail.igMailId, 'N')" ng-if="mail.isRead === 'Y'">标为未读</a></td>
            <td><a href ng-click="openModal(mail)">回复</a></td>
        </tr>
        </tbody>
    </table>
    <!-- 回复模态框 -->
    <div id="replyModal" class="modal modal-fixed-footer" style="height: 400px">
        <div class="modal-content">
            <h4 >正在回复 {{item.createBy}} 的信件</h4>
            <p>信件内容：{{item.content}}</p>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="replyStr"></textarea>
                    <label for="textarea1">回复内容</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href class="modal-action waves-effect waves-green btn-flat blue-grey  white-text" ng-click="reply()">确认回复</a>
            <a href class="modal-action modal-close waves-effect waves-green btn-flat white" ng-click="closeModal()">取消</a>
        </div>
    </div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="../node_modules/angular/angular.js"></script>
<script src="../app.js"></script>
<script src="js/mailbox.js"></script>
</body>

</html>